*.log
*.log.lock
*.axf
*.html
*.d
*.o
*.iex
*.sct
*.dep
*.lnp
*.htm
*.hex
*.scvd
Listings/*
LST/*
Output/
Objects/*
project\MDK_V5\objects\*
project\MDK_V5\listings\*
*.uvopt
*.uvgui.Administrator
*.uvguix.Administrator
*.uvoptx
*.bin
*.map
